body {
    background-color: #c4eaec;
}

.header {
    text-align: center;
    color: #f1faee;
    background-color: #522b53;
}

main {
    text-align: center;
}

.search,
.selector {
    display: inline-block;
}

.container {
    margin: 21px auto;
    width: 86%;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
}

span,
h3 {
    margin: 15px;
}

span {
    font-size: 15px;
}

.container div {
    padding: 15px;
    width: 260px;
    height: 540px;
    border: solid 1px;
    box-shadow: 10px 10px 10px 5px gray;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #804f79;
}

.container div h3 {
    width: 250;
    height: 22px;
    overflow: hidden;
}